@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Sacramento";
  src: url("/fonts/Sacramento.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RalewayMedium";
  src: url("/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RalewayRegular";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

Masquer la scrollbar mais garder le scroll fonctionnel
html, body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

/* body {
  @apply bg-black text-white overflow-x-hidden;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url("/cursor/CliquePERSO.svg") 8 8, auto; */
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@theme {
  --font-Djingo: "Djingo", sans-serif;
  --font-Ultravision: "Ultravision", sans-serif;
  --font-Horix: "Horix", sans-serif;
  --font-work: "Work Sans", sans-serif;
  --color-HoverEffect: #8C8C8;
  --color-Navcol: #14151d;
}


html {
  scroll-behavior: smooth;
}

